# misc
BASEDIR=/path/to/comp512p2.jar
USER=mimi_user

# for playing
SERVER1=$(hostname)
SERVER2=$(hostname)
SERVER3=$(hostname)
SERVER4=$(hostname)
SERVER5=$(hostname)
SERVER6=$(hostname)
SERVER7=$(hostname)
SERVER8=$(hostname)
SERVER9=$(hostname)

# for testing
AUTOTESTHOST=$(hostname)
MAXMOVES=10 # number of moves per player
INTERVAL=200 # time to wait between each move (in ms)
SEED=xxxxxxxxx # seed for the random move generator
