# =========== DEPLOYMENT ===========

# ur username on mimi man
USER=your_username_on_mimi
# in most cases, will be mimi.cs.mcgill.ca unless you want to target a specific node
REMOTE_HOST=mimi.cs.mcgill.ca
# set this to the filepath to the root directory of the project (comp-512)
REMOTE_FPATH=/home/2023/$USER
# application implementation: rmi or tcp
APP_TYPE=rmi

# =========== RUNTIME ===========

# rmi registry port should be a singular fixed value
REGISTRY_PORT=1122
# hostnames for each node, can literally be any node in the mimi cluster
FLIGHT_HOST=tr-open-04
CAR_HOST=tr-open-05
ROOM_HOST=tr-open-06
MIDDLEWARE_HOST=tr-open-07