# ur username on mimi man
USER=your_username_on_mimi
# in most cases, will be mimi.cs.mcgill.ca unless you want to target a specific node
REMOTE_HOST=mimi.cs.mcgill.ca
# set this to the filepath to the root directory of the project (comp-512)
REMOTE_FPATH=/home/2023/$USER
# application implementation: rmi or tcp
APP_TYPE=rmi