# comma separated string of host:port of zk ensemble
ZKSERVER=tr-open-01.cs.mcgill.ca:2181,tr-open-02.cs.mcgill.ca:2181,tr-open-03.cs.mcgill.ca:2181
SAMPLES=400000000 # smth to do w how many iterations of pi computations
GROUP_NUM=22
